apiVersion: apps/v1
kind: Deployment
metadata:
  name: tetris
  namespace: arcade
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tetris
  template:
    metadata:
      labels:
        app: tetris
    spec:
      containers:
        - name: tetris
          image: andonigarcia/arcade-tetris:1.0.0
          ports:
            - containerPort: 80