apiVersion: batch/v1
kind: Job
metadata:
  name: seed-games
  namespace: arcade
  labels:
    backstage.io/kubernetes-id: as-proyecto
spec:
  ttlSecondsAfterFinished: 3600
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      initContainers:
        - name: wait-for-mongo
          image: mongo:latest
          envFrom:
            - secretRef:
                name: mongo-secret
          command:
            - /bin/sh
            - -ec
            - >
              until mongosh --quiet \
                -u "$MONGO_INITDB_ROOT_USERNAME" \
                -p "$MONGO_INITDB_ROOT_PASSWORD" \
                --authenticationDatabase admin \
                --host servidor-bbdd:27017 \
                --eval 'db.adminCommand({ping:1}).ok' | grep 1;
              do
                echo "Esperando a Mongo...";
                sleep 3;
              done

      containers:
        - name: seed-games
          image: andonigarcia/seed-games:1.0.5 
          env:
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: APP_USER
            - name: MONGO_PWD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: APP_PWD
            - name: MONGO_DB
              value: "appdb"
            - name: CSV_PATH
              value: "/home/app/data/vgsales.csv" 